<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saber.credit.mapper.ProductMapper">

    <sql id="Base_Column_List">
            ID id,CREATE_USER,CREATE_DATE,LAST_CHANGE_USER,LAST_CHANGE_DATE,DEL_FLAG,
            NAME name,LOGO logo ,INTRODUCTION introduction,COOPERATION cooperation,SETTLEMENT_CYCLE settlementCycle,
            PRICE price, CREDIT_RATE creditRate,AMOUNT_MAX amountMax,AMOUNT_MIN amountMin,CREDIT_CYCLE creditCycle,
            AUDIT_DURATION auditDuration,PAY_SPEED paySpeed,LINKS links,ACCOUNT account,REPAYMENT repayment,REGISTER_COUNT registerCount,
            INNER_TIME_MIN innerTimeMin,INNER_TIME_MAX innerTimeMax,APPLICATION application,CREDIT_MATERIAL creditMaterial,CREDIT_INFO creditInfo,
            REVIEW review,PRE_PAYMENT prePayment,VERIFY verify,BUSINESS_NAME businessName,CONTACT contact,CONTACT_PHONE contactPhone,
            CONTACT_WECHAT contactWeChat,AUDIT_DURATION_UNIT auditDurationUnit,PAY_SPEED_UNIT paySpeedUnit,
            CREDIT_RATE_UNIT creditRateUnit,IS_SHOW isShow
    </sql>

    <select id="queryById" resultType="com.saber.credit.entities.Product">
        SELECT u.ID id,u.NAME name,u.PHONE PHONE,a.FROM_ID fromName,a.CREATE_DATE registerDate,a.FIRST_LOGIN_DATE firstLoginDate,CASE
        WHEN TIMESTAMPDIFF(HOUR,a.CREATE_DATE,a.FIRST_LOGIN_DATE) &lt; 1 THEN '1小时内' ELSE
        CONCAT(TIMESTAMPDIFF(HOUR,a.CREATE_DATE,a.FIRST_LOGIN_DATE),'小时')
        END intervalTime,a.LOGIN_COUNT loginCount,r.DEVICE_ID deviceId,
        r.DEVICE_TYPE deviceType,u.NATIVE_PLACE nativePlace,r.NETWORK network
        from SEC_USER u
        LEFT JOIN
        USER_ACTIVE a  ON u.id = a.user_id
        LEFT JOIN
        DEVICE_REGISTER r ON r.USER_ID = u.ID
        where u.id = #{id}
    </select>

    <select id="query" resultType="com.saber.credit.entities.Product">
        select <include refid="Base_Column_List"/>  from PRODUCT
    </select>

    <select id="queryDetail" resultType="com.saber.credit.entities.Product">
        SELECT u.ID id,u.NAME name,u.PHONE PHONE,a.FROM_ID fromName,a.CREATE_DATE registerDate,a.FIRST_LOGIN_DATE firstLoginDate,CASE
        WHEN TIMESTAMPDIFF(HOUR,a.CREATE_DATE,a.FIRST_LOGIN_DATE) &lt; 1 THEN '1小时内' ELSE
        CONCAT(TIMESTAMPDIFF(HOUR,a.CREATE_DATE,a.FIRST_LOGIN_DATE),'小时')
        END intervalTime,a.LOGIN_COUNT loginCount,r.DEVICE_ID deviceId,r.DEVICE_TYPE deviceType
        from SEC_USER u
        LEFT JOIN
        USER_ACTIVE a  ON u.id = a.user_id
        LEFT JOIN
        DEVICE_REGISTER r ON r.USER_ID = u.ID
    </select>

    <insert id="insert" parameterType="com.saber.credit.entities.Product">
        INSERT INTO PRODUCT (ID,CREATE_USER,CREATE_DATE,LAST_CHANGE_USER,LAST_CHANGE_DATE,DEL_FLAG,NAME,LOGO,
        INTRODUCTION,COOPERATION,SETTLEMENT_CYCLE,PRICE,CREDIT_RATE,AMOUNT_MAX,AMOUNT_MIN,CREDIT_CYCLE,AUDIT_DURATION,
        PAY_SPEED,LINKS,ACCOUNT,REPAYMENT,REGISTER_COUNT,INNER_TIME_MIN,INNER_TIME_MAX,APPLICATION,CREDIT_MATERIAL,CREDIT_INFO,REVIEW,
        PRE_PAYMENT,VERIFY,BUSINESS_NAME,CONTACT,CONTACT_PHONE,CONTACT_WECHAT,AUDIT_DURATION_UNIT,PAY_SPEED_UNIT,CREDIT_RATE_UNIT,IS_SHOW) VALUES (#{id},#{createUser},#{createDate},#{lastChangeUser},
        #{lastChangeDate},#{delFlag},#{name},#{logo},#{introduction},#{cooperation},#{settlementCycle},#{price},#{creditRate},#{amountMax},#{amountMin},
        #{creditCycle},#{auditDuration},#{paySpeed},#{links},#{account},#{repayment},#{registerCount},#{innerTimeMin},#{innerTimeMax},#{application},
        #{creditMaterial},#{creditInfo},#{review},#{prePayment},#{verify},#{businessName},#{contact},#{contactPhone},#{contactWeChat},#{auditDurationUnit},
        #{paySpeedUnit},#{creditRateUnit},'是')
    </insert>

    <update id="update" parameterType="com.saber.credit.entities.Product">
        UPDATE PRODUCT
        <trim prefix="set" suffixOverrides=",">
            <if test="lastChangeUser!=null">LAST_CHANGE_USER = #{lastChangeUser},</if>
            <if test="lastChangeDate!=null">LAST_CHANGE_DATE = #{lastChangeDate},</if>
            <if test="delFlag!=null">DEL_FLAG = #{delFlag},</if>
            <if test="name!=null">NAME = #{name},</if>
            <if test="logo!=null">LOGO = #{logo},</if>
            <if test="introduction!=null">INTRODUCTION = #{introduction},</if>
            <if test="cooperation!=null">COOPERATION = #{cooperation},</if>
            <if test="settlementCycle!=null">SETTLEMENT_CYCLE = #{settlementCycle},</if>
            <if test="price!=null">PRICE = #{price},</if>
            <if test="creditRate!=null">CREDIT_RATE = #{creditRate},</if>
            <if test="amountMax!=null">AMOUNT_MAX = #{amountMax},</if>
            <if test="amountMin!=null">AMOUNT_MIN = #{amountMin},</if>
            <if test="creditCycle!=null">CREDIT_CYCLE = #{creditCycle},</if>
            <if test="auditDuration!=null">AUDIT_DURATION = #{auditDuration},</if>
            <if test="paySpeed!=null">PAY_SPEED = #{paySpeed},</if>
            <if test="links!=null">LINKS = #{links},</if>
            <if test="account!=null">ACCOUNT = #{account},</if>
            <if test="repayment!=null">REPAYMENT = #{repayment},</if>
            <if test="registerCount!=null">REGISTER_COUNT = #{registerCount},</if>
            <if test="innerTimeMin!=null">INNER_TIME_MIN = #{innerTimeMin},</if>
            <if test="innerTimeMax!=null">INNER_TIME_MAX = #{innerTimeMax},</if>
            <if test="application!=null">APPLICATION = #{application},</if>
            <if test="creditMaterial!=null">CREDIT_MATERIAL = #{creditMaterial},</if>
            <if test="creditInfo!=null">CREDIT_INFO = #{creditInfo},</if>
            <if test="review!=null">REVIEW = #{review},</if>
            <if test="prePayment!=null">PRE_PAYMENT = #{prePayment},</if>
            <if test="verify!=null">VERIFY = #{verify},</if>
            <if test="businessName!=null">BUSINESS_NAME = #{businessName},</if>
            <if test="contact!=null">CONTACT = #{contact},</if>
            <if test="contactPhone!=null">CONTACT_PHONE = #{contactPhone},</if>
            <if test="contactWeChat!=null">CONTACT_WECHAT = #{contactWeChat},</if>
            <if test="auditDurationUnit!=null">AUDIT_DURATION_UNIT = #{auditDurationUnit},</if>
            <if test="paySpeedUnit!=null">PAY_SPEED_UNIT = #{paySpeedUnit},</if>
            <if test="creditRateUnit!=null">CREDIT_RATE_UNIT = #{creditRateUnit},</if>
            <if test="isShow!=null">IS_SHOW = #{isShow},</if>
        </trim>
        WHERE ID = #{id}
    </update>

</mapper>