<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <<title>贷超管理系统</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
  <link rel="stylesheet" th:href="@{/vendors/css/bootstrap-multiselect.css}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/asserts/css/style.css}">
</head>

<body>
<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <div th:replace="/commons/bar::topBar"></div>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <div th:replace="/commons/bar::#sideBar"></div>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">填写产品信息</h4>
                <form class="needs-validation" novalidate>
                  <!--合作方式-->
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">合作方式 :</label>
                        <div class="form-check form-check-info ml-4">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="membershipRadios" id="cooperation01" value="" checked>
                            CPA
                          </label>
                        </div>
                        <div class="form-check ml-2 form-check-info">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="membershipRadios" id="cooperation02" value="option2">
                            UV
                          </label>
                        </div>
                    </div>
                  <!--结算周期-->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">结算周期</label>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <select class="custom-select" required>
                          <option value="">结算周期未选择</option>
                          <option th:each="enumerateItem:${enumerate.SETTLEMENT_CYCLE.itemList}">[[${enumerateItem.value}]]</option>
                        </select>
                        <div class="invalid-feedback">请选择结算周期</div>
                      </div>
                    </div>
                  </div>
                  <!--价格-->
                  <div class="form-group row">
                    <label for="price" class="col-sm-2 col-form-label">价格 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="price" placeholder="请输入价格,可输入0-1000之间的整数或者小数" required>
                      <div class="invalid-feedback">
                        请填写价格
                      </div>
                    </div>
                  </div>
                  <!--产品名称-->
                  <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">产品名称 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="name" placeholder="请输入产品名称,最多7个字" required>
                      <div class="invalid-feedback">
                        请填写产品名称
                      </div>
                    </div>
                  </div>
                  <!--产品logo-->
                  <div class="form-group row">
                    <label for="logo" class="col-sm-2 col-form-label">产品logo :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="logo" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                  <!--产品简介-->
                  <div class="form-group row">
                    <label for="introduction" class="col-sm-2 col-form-label">产品简介 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="introduction" placeholder="请输入产品简介,最多12个字" required>
                      <div class="invalid-feedback">
                        请填写产品简介
                      </div>
                    </div>
                  </div>
                  <!--贷款利率-->
                  <div class="form-group row">
                    <label for="creditRate" class="col-sm-2 col-form-label">贷款利率 :</label>
                    <div class="col-sm-4">
                      <div class="form-inline">
                        <input type="text" class="form-control rounded" id="creditRate" placeholder="请填写贷款利率" required>
                        <select class="custom-select ml-5" required>
                          <option value="">日利率</option>
                          <option value="">年利率</option>
                        </select>
                        <div class="invalid-feedback">
                          请填写贷款利率.
                        </div>
                      </div>
                      <h6 class="mt-4">提示：<span class="text-danger">日利率不得超过0.06%；年利率不得超过24%。</span></h6>
                    </div>
                  </div>
                  <!--贷款额度-->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">贷款额度 :</label>
                    <div class="col-sm-4">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="最低500">
                        <div class="input-group-prepend">
                          <span class="input-group-text">~</span>
                        </div>
                        <input type="text" class="form-control" placeholder="最大100W">
                      </div>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                  <!--贷款周期-->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">贷款周期 :</label>
                    <div class="col-sm-4">
                      <!-- Build your select: -->
                      <select id="creditCycle" class="custom-select ml-5" multiple="multiple">
                        <option th:each="enumerateItem:${enumerate.CREDIT_CYCLE.itemList}">[[${enumerateItem.value}]]</option>
                      </select>
                      <h6 class="mt-4">提示：<span class="text-danger">日利率不得超过0.06%；年利率不得超过24%。</span></h6>
                    </div>
                  </div>
                  <!--审核时长-->
                  <div class="form-group row">
                    <label for="auditDuration" class="col-sm-2 col-form-label">审核时长 :</label>
                    <div class="col-sm-4">
                      <div class="form-inline">
                      <input type="text" class="form-control rounded" id="auditDuration" placeholder="请输入审核时长" required>
                      <select class="custom-select ml-5" required>
                        <option value="">秒</option>
                        <option value="">分钟</option>
                        <option value="">小时</option>
                        <option value="">天</option>
                      </select>
                      <div class="invalid-feedback">
                        请填写审核时长.
                      </div>
                      </div>
                    </div>
                  </div>
                  <!--下款速度-->
                  <div class="form-group row">
                    <label for="paySpeed" class="col-sm-2 col-form-label">下款速度 :</label>
                    <div class="col-sm-4">
                      <div class="form-inline">
                      <input type="text" class="form-control rounded" id="paySpeed" placeholder="申请借款到下款的时长" required>
                      <select class="custom-select ml-5" required>
                        <option value="">秒</option>
                        <option value="">分钟</option>
                        <option value="">小时</option>
                        <option value="">天</option>
                      </select>
                      <div class="invalid-feedback">
                        请填写下款速度.
                      </div>
                      </div>
                    </div>
                  </div>
                  <!--合作推广链接-->
                  <div class="form-group row">
                    <label for="links" class="col-sm-2 col-form-label">合作推广链接 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="links" placeholder="https://www.baidu.com" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                      <h6 class="mt-4">提示：<span class="text-danger">推荐使用以https://开头的链接</span></h6>
                    </div>
                  </div>
                  <!--到账方式-->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">到账方式 :</label>
                    <div class="col-sm-4">
                      <select class="custom-select" required>
                        <option value="">请选择</option>
                        <option th:each="enumerateItem:${enumerate.ACCOUNT_WAY.itemList}">[[${enumerateItem.value}]]</option>
                      </select>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                  <!--还款方式-->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">还款方式 :</label>
                    <div class="col-sm-4">
                      <select class="custom-select" required>
                        <option value="">请选择</option>
                        <option th:each="enumerateItem:${enumerate.REPAYMENT_WAY.itemList}">[[${enumerateItem.value}]]</option>
                      </select>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                  <!--日最高注册量-->
                  <div class="form-group row">
                    <label for="registerCount" class="col-sm-2 col-form-label">日最高注册量 :</label>
                    <div class="col-sm-4">
                      <div class="input-group mb-3 ">
                        <input type="text" id ="registerCount" class="form-control rounded" placeholder="请输入数字" aria-label="registerCount" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">个</span>
                        </div>
                        <div class="invalid-feedback">
                          Please provide a valid city.
                        </div>
                      </div>
                    </div>
                      <i class="mdi mdi-help-circle text-info d-flex align-self-center mb-3" data-toggle="tooltip" data-placement="top" title="日最高注册量的提示：当日注册量达到上限（进件上限）后，该产品在移动端的各个列表中将被置底显示。
举例：如果该产品是在首页推荐位中，且该推荐位在后台有10个产品，但移动端只展示4个产品，则把该产品置底到第10位。以此类推，直到10个产品都达到进件上限，则不再继续排序。次日恢复默认排序。"></i>
                  </div>

                  <!--进件时间段-->
                  <div class="form-group row">
                    <label for="innerTime" class="col-sm-2 col-form-label">进件时间段 :</label>
                      <div class="form-check form-check-info ml-4">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="innerTime" id="innerTime01" value="" checked>
                          CPA
                        </label>
                      </div>
                      <div class="form-check ml-2 form-check-info">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="innerTime" id="innerTime02" value="option2">
                          UV
                        </label>
                      </div>
                      <input type="text" class="form-control rounded" id="innerTime" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                  </div>
                  <!--申请条件-->
                  <div class="form-group row">
                    <label for="application" class="col-sm-2 col-form-label">申请条件 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="application" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                  <!--贷款所需材料-->
                  <div class="form-group row">
                    <label for="creditMaterial" class="col-sm-2 col-form-label">贷款所需材料 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="creditMaterial" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                  <!--征信信息-->
                  <div class="form-group row">
                    <label for="creditInfo" class="col-sm-2 col-form-label">征信信息 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="creditInfo" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                  <!--审核方式-->
                  <div class="form-group row">
                    <label for="review" class="col-sm-2 col-form-label">审核方式 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="review" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                  <!--前期费用-->
                  <div class="form-group row">
                    <label for="prePayment" class="col-sm-2 col-form-label">前期费用 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="prePayment" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                  <!--电话核实-->
                  <div class="form-group row">
                    <label for="verify" class="col-sm-2 col-form-label">电话核实 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="verify" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                  <!--企业名称-->
                  <div class="form-group row">
                    <label for="businessName" class="col-sm-2 col-form-label">企业名称 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="businessName" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                  <!--联系人姓名-->
                  <div class="form-group row">
                    <label for="contact" class="col-sm-2 col-form-label">联系人姓名 :</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control rounded" id="contact" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>


                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                          Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                          You must agree before submitting.
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <div th:replace="/commons/bar::#footerBar"></div>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/vendors/js/bootstrap-multiselect.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script th:src="@{/asserts/js/off-canvas.js}"></script>
<script th:src="@{/asserts/js/misc.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    <!-- Initialize the plugin: 下拉复选-->
    $(document).ready(function() {
        $('#creditCycle').multiselect({
            //inheritClass: true,
            buttonClass: 'btn btn-gradient-danger',
            nonSelectedText: '请选择贷款周期'
        });
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
</body>
</html>
