<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <<title>贷超管理系统</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/asserts/css/style.css}">
  <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>

<body>
<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <div th:replace="/commons/bar::topBar"></div>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <div th:replace="/commons/bar::#sideBar"></div>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <!--pageHeader-->
        <div class="page-header">
          <h3 class="page-title">
            <button class="btn btn-social-icon-text btn-dribbble" th:href="@{/product/products}"><i class="mdi mdi-cart-outline" th:href="@{/user/users}"></i>产品信息</button>
          </h3>
          <a class="mdi mdi-backspace icon-md text-primary" th:href="@{/product/products}"></a>
        </div>

        <!--合作信息-->
        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card-header bg-success">合作信息</div>
            <div class="card-group">
              <div class="card border-success" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">合作方式:</li>
                  <li class="list-group-item">结算周期:</li>
                  <li class="list-group-item">日最高注册量:</li>
                  <li class="list-group-item">合作推广链接:</li>
                </ul>
              </div>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">[[${product.cooperation}==null?'--':${product.cooperation}]]</li>
                  <li class="list-group-item">[[${product.settlementCycle}==null?'--':${product.settlementCycle}]]</li>
                  <li class="list-group-item">[[${product.registerCount}==null?'--':${product.registerCount}]]</li>
                  <li class="list-group-item">[[${product.links}==null?'--':${product.links}]]</li>
                </ul>
              </div>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">合作价格（元）:</li>
                  <li class="list-group-item">进件时间:</li>
                  <li class="list-group-item">&nbsp</li>
                  <li class="list-group-item">&nbsp</li>
                </ul>
              </div>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">[[${product.price}==null?'--':${product.price}]]</li>
                  <li class="list-group-item">[[${product.innerTimeMin+' ~ '+product.innerTimeMax}]]</li>
                  <li class="list-group-item">&nbsp</li>
                  <li class="list-group-item">&nbsp</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!--联系信息-->
        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card-header bg-success">联系信息</div>
            <div class="card-group">
              <div class="card border-success" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">企业名称:</li>
                  <li class="list-group-item">联系微信:</li>
                </ul>
              </div>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">[[${product.businessName}==null?'--':${product.businessName}]]</li>
                  <li class="list-group-item">[[${product.contactWeChat}==null?'--':${product.contactWeChat}]]</li>
                </ul>
              </div>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">联系人:</li>
                  <li class="list-group-item">联系电话:</li>
                </ul>
              </div>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">[[${product.contact}==null?'--':${product.contact}]]</li>
                  <li class="list-group-item">[[${product.contactPhone}==null?'--':${product.contactPhone}]]</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!--产品信息-->
        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card-header bg-success">产品信息</div>
            <div class="card">
            <div class="card-group">
              <div class="card border-success" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">产品名称:</li>
                  <li class="list-group-item" style="line-height: 5.4;">产品logo:</li>
                  <li class="list-group-item">到账方式:</li>
                  <li class="list-group-item">下款速度:</li>
                  <li class="list-group-item">还款方式:</li>
                  <li class="list-group-item">电话核实:</li>
                  <li class="list-group-item">审核方式:</li>
                </ul>
              </div>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">[[${product.name}==null?'--':${product.name}]]</li>
                  <li class="list-group-item" style="line-height: 5.4;">[[${#strings.isEmpty(product.logo)?'&nbsp':product.logo}]]</li>
                  <li class="list-group-item">[[${#strings.isEmpty(product.account)?'&nbsp':product.account}]]</li>
                  <li class="list-group-item">[[${#strings.isEmpty(product.paySpeed)?'&nbsp':product.paySpeed}]]</li>
                  <li class="list-group-item">[[${#strings.isEmpty(product.repayment)?'&nbsp':product.repayment}]]</li>
                  <li class="list-group-item">[[${#strings.isEmpty(product.verify)?'&nbsp':product.verify}]]</li>
                  <li class="list-group-item">[[${#strings.isEmpty(product.review)?'&nbsp':product.review}]]</li>
                </ul>
              </div>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">产品简介:</li>
                  <li class="list-group-item">审核时长:</li>
                  <li class="list-group-item">贷款额度:</li>
                  <li class="list-group-item">贷款周期:</li>
                  <li class="list-group-item">贷款利率:</li>
                  <li class="list-group-item">申请条件:</li>
                  <li class="list-group-item">征信信息:</li>
                  <li class="list-group-item">前期费用:</li>
                </ul>
              </div>
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">[[${product.introduction}==null?'--':${product.introduction}]]</li>
                  <li class="list-group-item">[[${product.auditDuration}==null?'--':${product.auditDuration}]]</li>
                  <li class="list-group-item">[[${product.amountMin+' ~ '+product.amountMax}]]</li>
                  <li class="list-group-item">[[${product.creditCycle}==null?'--':${product.creditCycle}]]</li>
                  <li class="list-group-item">[[${product.creditRate}==null?'--':${product.creditRate}]]</li>
                  <li class="list-group-item">[[${product.application}==null?'--':${product.application}]]</li>
                  <li class="list-group-item">[[${product.creditInfo}==null?'--':${product.creditInfo}]]</li>
                  <li class="list-group-item">[[${product.prePayment}==null?'--':${product.prePayment}]]</li>
                </ul>
              </div>
            </div>
              <div class="card-group">
                <div class="" style="width: 24.5rem;">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">贷款所需资料:</li>
                  </ul>
                </div>
                <div class="card text-center">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">[[${#strings.isEmpty(product.creditMaterial)?'&nbsp':product.creditMaterial}]]</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <div th:replace="/commons/bar::#footerBar"></div>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script th:src="@{/asserts/js/off-canvas.js}"></script>
<script th:src="@{/asserts/js/misc.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
</body>
</html>
