<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <<title>贷超管理系统</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/asserts/css/style.css}">
  <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>

<body>
<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <div th:replace="/commons/bar::topBar"></div>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <div th:replace="/commons/bar::#sideBar"></div>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <!--pageHeader-->
        <div class="page-header">
          <h3 class="page-title">
            <button class="btn btn-social-icon-text btn-dribbble" th:href="@{/product/products}"><i class="mdi mdi-cart-outline" th:href="@{/user/users}"></i>平台公告</button>
          </h3>
          <a class="mdi mdi-backspace icon-md text-primary" th:href="@{/product/products}"></a>
        </div>

          <ul class="list-group col-lg-12">
            <li class="list-group-item " data-toggle="collapse" href="#collapseExample" aria-expanded="false" th:aria-controls="${'information'+information.id}" th:each="information:${informationList}">
              [[${'【'+information.type+'】 '+information.title}]]
              <div class="float-right">
                [[${#dates.format(information.createDate, 'yyyy-MM-dd HH:mm:ss')}]]
                <i class="mdi mdi-chevron-right icon-sm"></i>
              </div>

            </li>
          </ul>
        <!--展开信息-->
        <div class="collapse"  th:each="information:${informationList}" th:id="${'information'+information.id}">
          <div class="card card-body">
           [[${information.content}]]
          </div>
        </div>

      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <div th:replace="/commons/bar::#footerBar"></div>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script th:src="@{/asserts/js/off-canvas.js}"></script>
<script th:src="@{/asserts/js/misc.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
</body>
</html>
