<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saber.credit.mapper.MenuMapper">

    <sql id="Base_Column_List">
        ID id,
        DEL_FLAG delFlag,
        TITLE title,
        ICO_URL icoUrl,
        URL url,
        SORT sort,
        PID pId
    </sql>

    <select id="queryById" resultType="com.saber.credit.entities.Menu">
        select <include refid="Base_Column_List"/> from SEC_MENU where id = #{id}
    </select>

    <select id="query" resultType="com.saber.credit.entities.Menu">
        select <include refid="Base_Column_List"/>  from SEC_MENU
    </select>

</mapper>