<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saber.restful.mapper.EmployeeMapper">
    <select id="queryById" resultType="com.jlkj.bean.User">
        select * from sec_user where id = #{id}
    </select>

    <select id="query" resultType="java.lang.String">
        select * from sec_user where id = #{id}
    </select>
</mapper>