<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <<title>贷超管理系统</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-daterangepicker/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">

    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <div th:replace="/commons/bar::topBar"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <div th:replace="/commons/bar::#sideBar"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">

                    </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">用户</a></li>
                            <li class="breadcrumb-item active" aria-current="page">消息通知</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                            data-target="#exampleModalCenter" th:onclick="showMessage([[${message}]])">
                                        发布通知
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <form class="forms-sample needs-validation" th:action="@{/user/sendMessage}"
                                              method="post" novalidate>
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content bg-white">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">发布消息通知</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="card-body">

                                                            <div class="form-group row" hidden>
                                                                <label for="id"
                                                                       class="col-sm-4 col-form-label ant-form-item-required">ID：</label>
                                                                <div class="col-sm-8 row">
                                                                    <input type="text" class="form-control rounded"
                                                                           id="id" name="id">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label for="title"
                                                                       class="col-sm-4 col-form-label ant-form-item-required">通知标题：</label>
                                                                <div class="col-sm-8 row">
                                                                    <input type="text" class="form-control rounded"
                                                                           id="title" name="title"
                                                                           placeholder="请输入通知标题,15个字以内" required>
                                                                    <div class="invalid-feedback">请输入通知标题,15个字以内</div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-4 col-form-label ant-form-item-required">发送方式：</label>
                                                                <div class="col-sm-8 row">
                                                                    <div class="form-check form-check-info">
                                                                        <label class="form-check-label">
                                                                            <input type="radio"
                                                                                   class="form-check-input rounded"
                                                                                   name="sendType" value="仅消息通知"
                                                                                   checked>
                                                                            仅消息通知
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check ml-3 form-check-info">
                                                                        <label class="form-check-label">
                                                                            <input type="radio" class="form-check-input"
                                                                                   name="sendType" value="仅消息通知+弹窗">
                                                                            仅消息通知+弹窗
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-4 col-form-label ant-form-item-required">通知类型：</label>
                                                                <div class="col-sm-8 row">
                                                                    <div class="form-group">
                                                                        <select class="custom-select h6"
                                                                                name="messageType" id="messageType"
                                                                                required>
                                                                            <option value="" disabled selected hidden>
                                                                                请选择通知类型
                                                                            </option>
                                                                            <option th:each="enumerateItem:${enumerate.MESSAGE_TYPE.itemList}">
                                                                                [[${enumerateItem.value}]]
                                                                            </option>
                                                                        </select>
                                                                        <div class="invalid-feedback">请选择通知类型</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="content"
                                                                       class="col-sm-4 col-form-label ant-form-item-required">通知内容：</label>
                                                                <div class="col-sm-8 row">
                                                                    <textarea class="form-control" id="content" rows="4"
                                                                              name="content" required></textarea>
                                                                    <div class="invalid-feedback">请输入通知内容</div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-4 col-form-label ant-form-item-required">跳转类型：</label>
                                                                <div class="col-sm-8 row">
                                                                    <div class="form-check form-check-info">
                                                                        <label class="form-check-label">
                                                                            <input type="radio"
                                                                                   class="form-check-input rounded"
                                                                                   name="jumpType" value="无" checked>
                                                                            无
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check ml-2 form-check-info  ml-3">
                                                                        <label class="form-check-label">
                                                                            <input type="radio" class="form-check-input"
                                                                                   name="jumpType" value="产品详细页">
                                                                            产品详细页
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check ml-2 form-check-info ml-3">
                                                                        <label class="form-check-label">
                                                                            <input type="radio" class="form-check-input"
                                                                                   name="jumpType" value="H5链接">
                                                                            H5链接
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="sendTime"
                                                                       class="col-sm-4 col-form-label ant-form-item-required">发布时间：</label>
                                                                <div class="col-sm-8 row">
                                                                    <div class="input-group" style="height: 20px">
                                                                        <i class="glyphicon glyphicon-calendar input-group-text bg-white"></i>
                                                                        <input type="text"
                                                                               class="  input-sm form-control rounded"
                                                                               id="sendTime" name="sendTime"
                                                                               placeholder="请选择时间" required>
                                                                        <div class="invalid-feedback">请选择发布时间</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default rounded"
                                                                data-dismiss="modal">取消
                                                        </button>
                                                        <button type="submit" class="btn btn-info">保存</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </h4>
                                <table id="table_refresh" class="table table-striped table-hover" th:fragment="table_refresh">
                                    <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            通知类型
                                        </th>
                                        <th>
                                            通知标题
                                        </th>
                                        <th>
                                            跳转页面
                                        </th>
                                        <th>
                                            发送时间
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="message:${messages}">
                                        <td class="py-1">
                                            [[${message.id}]]
                                        </td>
                                        <td>
                                            [[${message.messageType}]]
                                        </td>
                                        <td>
                                            [[${message.title}]]
                                        </td>
                                        <td>
                                            [[${message.jumpType}]]
                                        </td>
                                        <td>
                                            [[${message.sendTime}]]
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-gradient-primary" data-toggle="modal"
                                               data-target="#exampleModalCenter"
                                               th:onclick="showMessage([[${message}]]);">查看</a>
                                            <button class="btn btn-sm btn-gradient-danger deleteBtn"
                                                    th:attr="delete_uri=@{/message/}+${message.id}">删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div id="callBackPager" class="float-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <div th:replace="/commons/bar::#footerBar"></div>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!--将form表单写在外面，所有的删除操作共用一个表单-->
<form id="deleteForm" method="post">
    <input type="hidden" name="_method" value="delete"/>
</form>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script th:src="@{/asserts/js/off-canvas.js}"></script>
<script th:src="@{/asserts/js/misc.js}"></script>
<script th:src="@{/bootstrap-daterangepicker/moment.min.js}"></script>
<script th:src="@{/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/asserts/js/sweetalert.min.js}"></script>
<script th:src="@{/asserts/js/extendPagination.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
<script type="text/javascript" th:inline="javascript">

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $('input[name="sendTime"]').daterangepicker({
            minDate: '2015/01/01 00:00:00',    //最小时间
            showDropdowns: true,
            showWeekNumbers: true, //是否显示第几周
            dateLimit: {days: 300}, //起止时间的最大间隔
            timePicker: true,
            timePickerIncrement: 1, //时间的增量，单位为分钟
            timePicker24Hour: true,
            timePickerSeconds: true,
            opens: 'right', //日期选择框的弹出位置
            drops: 'up',
            buttonClasses: ['btn btn-default'],
            applyClass: 'btn-small btn-primary blue',
            cancelClass: 'btn-small',
            format: 'YYYY/MM/DD HH:mm:ss', //控件中from和to 显示的日期格式MM/DD/YYYY
            singleDatePicker: true,
            separator: '-',
            defaultDate: new Date(),
            monthHtml: '<select class="monthselect custom-select">',
            locale: {
                format: 'YYYY-MM-DD HH:mm:ss',
                applyLabel: '确定',
                cancelLabel: '取消',
                fromLabel: '起始时间',
                toLabel: '结束时间',
                daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                firstDay: 1
            }
        },
        function (start, end, label) {

        });
    $('input[name="sendTime"]').val("");
    <!---->
    $('.nowBtn').click(function () {
        $('#sendTime').data('daterangepicker').hide();
        var time = new Date();   // 程序计时的月从0开始取值后+1
        var m = time.getMonth() + 1;
        var t = time.getFullYear() + "-" + m + "-"
            + time.getDate() + " " + time.getHours() + ":"
            + time.getMinutes() + ":" + time.getSeconds();
        $('input[name="sendTime"]').val(t);
        $('input[name="sendTime"]').val();
    });

    $(function () {
        //操作回调显示
        let msg = [[${msg}]];
        let pageNum = [[${pageInfo.pageNum}]];
        let limit = [[${pageInfo.pageSize}]];
        if (msg !== null) {
            swal("发送成功!", "返回列表信息!", "success");
        }

        /*
         * 页面加载初始化分页
         */
        $('#callBackPager').extendPagination({

            totalCount: [[${pageInfo.total}]],
            showCount: 10,
            limit: [[${pageInfo.pageSize}]],
            callback:function (curr, limit, totalCount) {
                // 装载局部刷新返回的页面
                $('#table_refresh').load("/management/user/message/refresh?page="+curr+"&limit="+limit);
            }

        });

        //pagination触发事件
        $('#pagination').change(function () {
            let limit = this.value;
            // 装载局部刷新返回的页面
            $('#table_refresh').load("/management/user/message/refresh?page="+pageNum+"&limit="+limit);
        });


        //回车搜索
        $('#toPage').bind('keydown', function (event) {
            var event = window.event || arguments.callee.caller.arguments[0];
            if (event.keyCode === 13){
                let toPage = $('#toPage').val()
                // 装载局部刷新返回的页面
                $('#table_refresh').load("/management/user/message/refresh?page="+toPage+"&limit="+[[${pageInfo.pageSize}]]);
            }
        });


    });

    //删除列表数据
    $(".deleteBtn").click(function () {

        swal(
            {
                title: "您确定要删除这条信息吗",
                text: "删除后将无法恢复，请谨慎操作！",
                icon: "warning",
                dangerMode: true,
                buttons: {
                    cancel: {
                        text: "取消",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "确认",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }
        )
            .then((willDelete) => {
                if (willDelete) {
                    $("#deleteForm").attr("action", $(this).attr("delete_uri")).submit();
                } else {
                    swal.close();
                }
            });


    });

    //查看信息，依然使用bootstrap的model
    function showMessage(message) {
        if (message !== null) {
            $('#exampleModalCenterTitle').text("查看消息通知");
            $('#title').val(message.title).attr("disabled", true);
            $("input[type=radio][name=sendType][value='" + message.sendType + "']").prop("checked", 'checked');
            $("input[type=radio][name=sendType]").attr("disabled", true);
            $('#messageType').val(message.messageType).attr("disabled", true);
            $('#content').val(message.content).attr("disabled", true);
            $("input[type=radio][name=jumpType][value='" + message.jumpType + "']").prop("checked", 'checked');
            $("input[type=radio][name=jumpType]").attr("disabled", true);
            $('#sendTime').val(message.sendTime).attr("disabled", true);
        } else {
            $('#exampleModalCenterTitle').text("");
            $('#title').val("").attr("disabled", false);
            $("input[type=radio][name=sendType]").attr("disabled", false);
            $('#messageType').val("").attr("disabled", false);
            $('#content').val("").attr("disabled", false);
            $("input[type=radio][name=jumpType]").attr("disabled", false);
            $('#sendTime').val("").attr("disabled", false);
            $("input:radio[name=sendType]").eq(0).prop("checked", 'checked');
            $("input:radio[name=jumpType]").eq(0).prop("checked", 'checked');
        }
    }

</script>
</body>
</html>
