<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <<title>贷超管理系统</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" th:href="@{/bootstrap-daterangepicker/daterangepicker.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <div th:replace="/commons/bar::topBar"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <div th:replace="/commons/bar::#sideBar"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group row">
                                        <label class="col-form-label">渠道搜索：</label>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-form-label">推广方式：</label>
                                        <div class="form-group w-50">
                                            <select class="custom-select" name="settlementCycle" required>
                                                <option value="全部" selected hidden>全部</option>
                                                <option th:each="enumerateItem:${enumerate.PROMOTE_WAY.itemList}">
                                                    [[${enumerateItem.value}]]
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">请选择推广方式</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row">
                                        <label class="col-form-label">添加时间：</label>
                                        <div class="input-group col-md-10" style="height: 40px">
                                            <i class="glyphicon glyphicon-calendar input-group-text bg-white"></i>
                                            <input type="text"
                                                   class="  input-sm form-control rounded"
                                                   id="sendTime" name="sendTime"
                                                   placeholder="请选择时间" required>
                                            <div class="invalid-feedback">请选择发布时间</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="col-form-label">渠道状态：</label>
                                        <div class="form-group w-50">
                                            <select class="custom-select" name="settlementCycle" required>
                                                <option value="全部" selected hidden>全部</option>
                                                <option th:each="enumerateItem:${enumerate.STATUS.itemList}">
                                                    [[${enumerateItem.value}]]
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">请选择渠道状态</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <div th:replace="/commons/bar::#footerBar"></div>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script th:src="@{/bootstrap-daterangepicker/moment.min.js}"></script>
<script th:src="@{/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
<script type="text/javascript">
    $(function () {
        $('input[name="sendTime"]').daterangepicker({
                minDate: '2015/01/01 00:00:00',    //最小时间
                showDropdowns: true,
                showWeekNumbers: true, //是否显示第几周
                dateLimit: {days: 300}, //起止时间的最大间隔
                timePicker: true,
                timePickerIncrement: 1, //时间的增量，单位为分钟
                timePicker24Hour: true,
                timePickerSeconds: true,
                opens: 'right', //日期选择框的弹出位置
                drops: 'down',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary blue',
                cancelClass: 'btn-small',
                format: 'YYYY/MM/DD HH:mm:ss', //控件中from和to 显示的日期格式MM/DD/YYYY
                separator: '-',
                defaultDate: new Date(),
                monthHtml: '<select class="monthselect custom-select">',
                locale: {
                    format: 'YYYY-MM-DD HH:mm:ss',
                    applyLabel: '确定',
                    cancelLabel: '取消',
                    fromLabel: '起始时间',
                    toLabel: '结束时间',
                    daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    firstDay: 1
                }
            },
            function (start, end, label) {

            });
        $('input[name="sendTime"]').val("");
    })
</script>
</body>
</html>
